* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    font-size: 1.6rem
}

.container {
    border: 0.2rem red dotted;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
}

/* This creates CSS for individual boxes  */
.box {
    border: 0.2rem gray dotted;
    padding: 1.0rem;
    flex-basis: 20rem;
    flex-grow: 1;
    height: 10rem;

}

#boxA {
    background-color: orange;
}

#boxB {
    background-color: green;
}

#boxC {
    background-color: lightseagreen;
}

#boxD {
    background-color: grey;
}

#boxE {
    background-color: goldenrod;
}

#boxF {
    background-color: pink;
}